openapi: "3.0.3"
info:
  title: "Test API"
  version: "1.0.0"
servers:
  - url: "https://xr-mock.jn.sfc.keio.ac.jp"
paths:
  /ping:
    get:
      summary: "Ping endpoint"
      description: "Returns a simple pong message"
      responses:
        '200':
          description: "pong response"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "pong"
  /users:
    get:
      summary: "List users"
      description: "Retrieve a list of users"
      responses:
        '200':
          description: "A JSON array of user objects"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1
                    name:
                      type: string
                      example: "Alice"
    post:
      summary: "Create a user"
      description: "Add a new user and return the created object"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  example: "Bob"
      responses:
        '201':
          description: "User created successfully"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 2
                  name:
                    type: string
                    example: "Bob"
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          example: 400
        message:
          type: string
          example: "Bad request"

